{% extends "layout.html" %}

{% block body %}

<h2>Hakkımızda</h2>
<hr><hr>
<div>
<h5>Ben Pamukkale Üniversitesi bilgisayar mühendisliği 3. sınıf öğrencisiyim. Portföyümü geliştirmek için geliştirdiğim uygulamayı deneyin. Aşağıdaki iletişim kanallarından bana ulaşabilirsiniz.  </h5>
<br>
<h6>E posta : babacan-1907@outlook.com.tr</h6>
<br>
<h6>Tel : +90 553 316 23 52</h6>
<br>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1200px-Octicons-mark-github.svg.png?20180806170715" width="30" alt="">
<a href="https://github.com/Babacanibrahim" target="_blank" style="font-size : 30px;">Github</a>
<br><br>
<img src="https://content.linkedin.com/content/dam/me/business/en-us/amp/xbu/linkedin-revised-brand-guidelines/home/fg/brand-homepg-guidance-linkedin-logo-dsk-v01.jpg.original.jpg" width="30" alt="">
<a href="https://www.linkedin.com/in/ibrahim-babacan-7842b826a/" target="_blank" style="font-size : 30px;">Linkedin</a>
</div>
{% endblock body %}

