{% extends "layout.html" %}

{% block body %}

<h2>Hakkımızda</h2>
<hr><hr>
<div>
<h5>Ben Pamukkale Üniversitesi bilgisayar mühendisliği 3. sınıf öğrencisiyim. Portföyümü geliştirmek için geliştirdiğim uygulamayı deneyin. Aşağıdaki iletişim kanallarından bana ulaşabilirsiniz.  </h5>
<br>
<h6>E posta : babacan-1907@outlook.com.tr</h6>
<br>
<h6>Tel : +90 553 316 23 52</h6>
<br>
<a href="https://github.com/Babacanibrahim">Github</a>
<br><br>
<a href="https://www.linkedin.com/in/ibrahim-babacan-7842b826a/">Linkedin</a>
</div>
{% endblock body %}

