{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles/tables.css') }}">
{% endblock head %}

{% block body %}
<h2>Mevcut Limitleriniz</h2>
<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Mevcut Limitler Tablosu</th>
      <th>Tarih Aralığı</th>
    </tr>
  </thead>
  {% if budgets %}
  <tbody>
    {% for item in budgets %}
      <tr>
        <td>
        <a href="{{url_for('view_limit' , id = item.id)}}">Detaylar</a>
        </td>
        <td>{{ item.start_date }} - {{ item.end_date }}</td>
      </tr>
    {% endfor %}
  </tbody>
  {% else %}
  <tr><td>Henüz bütçe limiti tanımlamamışsınız.</td></tr>
  {% endif %}
  
</table>
{% endblock %}