{% extends "layout.html" %}
{% from '/includes/formhelpers.html' import render_field %}
{% block body %}

<h2>Şifreyi Yenile</h2>
<hr><hr>
<p><strong>{{session["username"]}}</strong>, şifrenizi değiştirebilirsiniz.</p>
<form method="POST">
  {{ form.hidden_tag() }}

  <div class="form-group">
    {{ form.password.label(class="form-label") }}
    {{ form.password(class="form-control", id="password") }}
    {% for error in form.password.errors %}
      <small class="text-danger">{{ error }}</small>
    {% endfor %}
  </div>


<div class="form-group">
    {{ form.confirm.label(class="form-label") }}
    {{ form.confirm(class="form-control", id="confirm") }}
    {% for error in form.confirm.errors %}
      <small class="text-danger">{{ error }}</small>
    {% endfor %}
  </div>


  <button type="submit" class="btn btn-primary mt-3">Şifremi Yenile</button>
</form>

{% endblock %}
