{% extends "layout.html" %}
{% from '/includes/formhelpers.html' import render_field %}
{% block body %}

<h2>Şifremi Unuttum</h2>
<hr><hr>

<form method="POST">
  {{ form.hidden_tag() }}

  <div class="form-group">
    {{ form.username.label(class="form-label") }}
    {{ form.username(class="form-control", id="username") }}
    {% for error in form.username.errors %}
      <small class="text-danger">{{ error }}</small>
    {% endfor %}
  </div>


 <div class="form-group">
    {{ form.secret_quest.label(class="form-label") }}
    {{ form.secret_quest(class="form-control", id="secret_quest") }}
    {% for error in form.secret_quest.errors %}
      <small class="text-danger">{{ error }}</small>
    {% endfor %}
  </div>

  <div class="form-group">

  {{ form.answer.label(class="form-label") }}
  {{ form.answer(class="form-control", id="answer") }}
    {% for error in form.answer.errors %}
      <small class="text-danger">{{ error }}</small>
    {% endfor %}

  </div>


  <button type="submit" class="btn btn-primary mt-3">Şifremi Yenile</button>
</form>

{% endblock %}
