{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles/tables.css') }}">
{% endblock head %}

{% block title %}
Gelir Ekleme
{% endblock title %}

{% block body %}
<p>Hoşgeldiniz <strong>{{user.name}} {{user.surname}}</strong>,</p>
<h2>Kişisel Gelir Tablonuz</h2>
<hr>
<hr>

<div style="display: flex; gap: 20px; align-items: flex-start;">

  <form method="POST" style="flex: 1;">
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.amount.label(class="form-label") }}
      {{ form.amount(class="form-control", id="amount") }}
      {% for error in form.amount.errors %}
      <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ form.category.label(class="form-label") }}
      {{ form.category(class="form-control", id="category") }}
      {% for error in form.category.errors %}
      <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ form.date.label(class="form-label") }}
      {{ form.date(class="form-control", id="date") }}
      {% for error in form.date.errors %}
      <small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary mt-3">Gelir Ekle</button>
  </form>
  <br>
  <form style="flex: 1;">
    <table>

      <thead>
        <tr>
          <th>
            <a href="{{ url_for('income', order_amount = 'desc' if order_amount == 'asc' else 'asc') }}">
              Gelir Miktarı
              {% if request.args.get('order_amount') %}
              {% if order_amount == 'asc' %}
              &#x25B2;
              {% else %}
              &#x25BC;
              {% endif %}
              {% endif %}
            </a>
          </th>

          <th>
            <a href="{{ url_for('income', order_date = 'desc' if order_date == 'asc' else 'asc') }}">
              Gelir Tarihi
              {% if request.args.get('order_date') %}
              {% if order_date == 'asc' %}
              &#x25B2;
              {% else %}
              &#x25BC;
              {% endif %}
              {% endif %}
            </a>
          </th>

          <th>
            <a href="{{ url_for('income', order_category = 'desc' if order_category == 'asc' else 'asc') }}">
              Gelir Kategorisi
              {% if request.args.get('order_category') %}
              {% if order_category == 'asc' %}
              &#x25B2;
              {% else %}
              &#x25BC;
              {% endif %}
              {% endif %}
            </a>
          </th>
          <th >Güncelle</th>
          <th >Sil</th>
        </tr>
      </thead>

      <tbody>
        {% for income in incomes %}
        <tr>
          <td>{{income.amount}} ₺</td>
          <td>{{income.date}}</td>
          <td>{{income.income_category.name}}</td>
          <td><a href="{{ url_for('edit_income', id=income.id) }}"><button type="button" class="btn btn-info mt-1">Güncelle</button></a></td>
        </tr>

        {% endfor %}
      </tbody>


    </table>
  </form>
</div>
{% endblock body %}