{% extends "layout.html" %}

{% block body %}

<div class="card text-white bg-dark mb-3" style="max-width: 70rem;"> 
  <div class="card-body">
    <h2 class="card-title">Kimlere hitap eder ?</h2>
    <p class="card-text"><strong>Kendini önemseyen, gelirlerini ve giderlerini akıllıca yönetmek isteyen tüm kullanıcılarımıza uygundur.</strong> </p>
  </div>
</div>

<br><hr><hr><br>

<div class="card" style="max-width: 70rem;">
  <div class="card-header"><strong>Nedir ?</strong></div>
  <div class="card-body">
    <h2 class="card-title">Kişisel Finans Uygulaması</h2>
    <p class="card-text">Kişisel finans uygulaması günlük gelirlerinize ve giderlerinze göre takibinizi sağlamak için tasarlanmış son derece kullanışlı bir uygulamadır. İsterseniz aylık, haftalık, günlük veya yıllık olarak finansal durumlarınızı analiz edebilirsiniz. <strong>Finans Analiz</strong> kısmını kullanarak da sizin için oluşturduğumuz kişisel finansal yorumlarınızı okuyabilirsiniz. Ayrıca <strong>Hakkımızda</strong> kısmındaki iletişim kanallarından bizlere ulaşabilirsiniz.</p>
  </div>
</div>
{% endblock body %}