{% extends "layout.html" %}

{% block title %}
Şifre Değiştirme
{% endblock title %}

{% block body %}

<h2>Şifre Değiştirme</h2>
<hr style="border: none; height: 4px; background-color: #4054aeff; margin: 20px 0; border-radius: 2px;">


<form method="POST">
  {{ form.hidden_tag() }}

  <div class="form-group">
    {{ form.current_password.label(class="form-label") }}
    {{ form.current_password(class="form-control", id="current_password") }}
    {% for error in form.current_password.errors %}
      <small class="text-danger">{{ error }}</small>
    {% endfor %}
  </div>

    <button type="submit" class="btn btn-success mt-3">Şifre Değiştir</button>
</form>

{% if show_modal %}
    {% include "password_modal.html" %}
{% endif %}



{% endblock body %}