{% extends "layout.html" %}
{% block title %}
Limit Detay
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles/tables.css') }}">
{% endblock head %}

{% block body %}
<h2>Bütçe Limitleri</h2>
<strong>
  <p>Bütçe Tarihleri: {{ budget.start_date }} / {{ budget.end_date }}</p>
</strong>
<hr style="border: none; height: 4px; background-color: #4054aeff; margin: 20px 0; border-radius: 2px;">


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Kategori</th>
      <th>Limit</th>
      <th>Toplam Harcama</th>
      <th>Kalan Harcama</th>
      <th>Durum</th>
    </tr>
  </thead>
  <tbody>
    {% for item in budget.items %}
    {% set data = expenses[item.id] %}
    <tr>
      <td>
          {% if item.custom_category %}
          {{ item.custom_category }} (Özel Kategori)
          {% else %}
          {{ item.category.name }}
          {% endif %}
        </td>

      <td>{{ data.limit }} ₺</td>

      <td>
        {% if data.spent is not none %}
        {{ data.spent }} ₺
        {% else %}
        -
        {% endif %}
      </td>

      <td>
        {% if data.spent is none %}
        {{data.limit}} ₺
        {% else %}
        {{data.limit - data.spent}} ₺
        {% endif %}
      </td>

      <td>
        {% if data.percent is not none %}
        {{ data.percent }}%
        <div class="progress mt-1" style="height: 16px;">
          <div class="progress-bar
                  progress-bar-striped
                  {% if data.percent >= 99 %}
                    bg-danger
                  {% elif data.percent >= 75 %}
                    bg-warning
                  {% elif data.percent >= 50 %}
                    bg-info
                  {% elif data.percent >= 25 %}
                    bg-primary
                  {% else %}
                    bg-success
                  {% endif %}" role="progressbar" style="width: {{ data.percent }}%;"
            aria-valuenow="{{ data.percent }}" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
        {% else %}
        -
        {% endif %}
      </td>

    </tr>
    {% endfor %}
    <tr>
      <td><strong>TÜMÜ</strong></td>
      <td><strong>{{total_limit_all}}</strong></td>
      <td><strong>{{total_spent_all}}</strong></td>
      <td><strong>{{total_limit_all - total_spent_all}}</strong></td>
      <td><strong>{% if total_percent is not none %}
        {{ total_percent }}%
        <div class="progress mt-1" style="height: 16px;">
          <div class="progress-bar
                  progress-bar-striped
                  {% if total_percent >= 99 %}
                    bg-danger
                  {% elif total_percent >= 75 %}
                    bg-warning
                  {% elif total_percent >= 50 %}
                    bg-info
                  {% elif total_percent >= 25 %}
                    bg-primary
                  {% else %}
                    bg-success
                  {% endif %}" role="progressbar" style="width: {{ total_percent }}%;"
            aria-valuenow="{{ total_percent }}" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
        {% else %}
        -
        {% endif %}
        </strong>
      </td>
    </tr>
  </tbody>
</table>


<div class="d-flex flex-row align-items-center">
  <form method="POST" action="{{ url_for('limits.delete_limit', id=budget.id) }}" class="mr-3"
        onsubmit="return confirm('Bu bütçeyi silmek istediğinize emin misiniz?');">
    <button class="btn btn-danger btn-bg" type="submit">Sil</button>
  </form>

  <a class="btn btn-primary btn-bg" href="{{ url_for('limits.edit_limit', id=budget.id) }}">Güncelle</a>
</div>

{% endblock %}